<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>DanhSachNhanVienController</servlet-name>
        <servlet-class>controller.DanhSachNhanVienController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>controller.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteAccountContorller</servlet-name>
        <servlet-class>controller.DeleteAccountContorller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewAllNhanVienController</servlet-name>
        <servlet-class>controller.ViewAllNhanVienController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ThanhLiNhanVienController</servlet-name>
        <servlet-class>controller.ThanhLiNhanVienController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewThanhLiNhanVienController</servlet-name>
        <servlet-class>controller.ViewThanhLiNhanVienController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChungChiController</servlet-name>
        <servlet-class>controller.ChungChiController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DanhSachChungChiController</servlet-name>
        <servlet-class>controller.DanhSachChungChiController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateChungChi</servlet-name>
        <servlet-class>controller.UpdateChungChiController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ThemMoiChungChiController</servlet-name>
        <servlet-class>controller.ThemMoiChungChiController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CongViecController</servlet-name>
        <servlet-class>controller.CongViecController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DanhSachCongViecController</servlet-name>
        <servlet-class>controller.DanhSachCongViecController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MucLuongDinhMucController</servlet-name>
        <servlet-class>controller.MucLuongDinhMucController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DanhSachThangBacLuongController</servlet-name>
        <servlet-class>controller.DanhSachThangBacLuongController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateLuongController</servlet-name>
        <servlet-class>controller.UpdateLuongController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ThemMoiBacLuongController</servlet-name>
        <servlet-class>controller.ThemMoiBacLuongController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChamCongController</servlet-name>
        <servlet-class>controller.ChamCongController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewChamCongController</servlet-name>
        <servlet-class>controller.ViewChamCongController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateChamCongController</servlet-name>
        <servlet-class>controller.UpdateChamCongController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TienLuongController</servlet-name>
        <servlet-class>controller.TienLuongController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DanhSachLaoDongVaTienLuongController</servlet-name>
        <servlet-class>controller.DanhSachLaoDongVaTienLuongController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChiTietTienLuongController</servlet-name>
        <servlet-class>controller.ChiTietTienLuongController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewHome1Controller</servlet-name>
        <servlet-class>controller.ViewHome1Controller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewHome2Controller</servlet-name>
        <servlet-class>controller.ViewHome2Controller</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ViewAllNhanVienController</servlet-name>
        <url-pattern>/danh_sach_nhan_vien</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>HomeController</servlet-name>
        <servlet-class>controller.HomeController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HomeController</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AdminController</servlet-name>
        <servlet-class>controller.AdminController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateNhanVienController</servlet-name>
        <servlet-class>controller.UpdateNhanVienController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TuyenDungNhanVienController</servlet-name>
        <servlet-class>controller.TuyenDungNhanVienController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChiTietNhanVienController</servlet-name>
        <servlet-class>controller.ChiTietNhanVienController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminController</servlet-name>
        <url-pattern>/admin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteAccountContorller</servlet-name>
        <url-pattern>/deleteAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DanhSachNhanVienController</servlet-name>
        <url-pattern>/1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateNhanVienController</servlet-name>
        <url-pattern>/update_nhan_vien</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TuyenDungNhanVienController</servlet-name>
        <url-pattern>/tuyen_dung_nhan_vien</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChiTietNhanVienController</servlet-name>
        <url-pattern>/chi_tiet_nhan_vien</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ThanhLiNhanVienController</servlet-name>
        <url-pattern>/6</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewThanhLiNhanVienController</servlet-name>
        <url-pattern>/danh_sach_thanh_li_nhan_vien</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChungChiController</servlet-name>
        <url-pattern>/2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DanhSachChungChiController</servlet-name>
        <url-pattern>/danh_sach_chung_chi</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateChungChi</servlet-name>
        <url-pattern>/update_chung_chi</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ThemMoiChungChiController</servlet-name>
        <url-pattern>/them_moi_chung_chi</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CongViecController</servlet-name>
        <url-pattern>/3</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DanhSachCongViecController</servlet-name>
        <url-pattern>/danh_sach_cong_viec</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MucLuongDinhMucController</servlet-name>
        <url-pattern>/4</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DanhSachThangBacLuongController</servlet-name>
        <url-pattern>/danh_sach_thang_bac_luong</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateLuongController</servlet-name>
        <url-pattern>/update_luong</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ThemMoiBacLuongController</servlet-name>
        <url-pattern>/them_moi_bac_luong</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChamCongController</servlet-name>
        <url-pattern>/5</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewChamCongController</servlet-name>
        <url-pattern>/cham_cong</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateChamCongController</servlet-name>
        <url-pattern>/update_chamcong</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TienLuongController</servlet-name>
        <url-pattern>/7</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DanhSachLaoDongVaTienLuongController</servlet-name>
        <url-pattern>/nang_suat_lao_dong_va_tien_luon</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChiTietTienLuongController</servlet-name>
        <url-pattern>/chi_tiet_tien_luong</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewHome1Controller</servlet-name>
        <url-pattern>/ViewHome1Contronller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewHome2Controller</servlet-name>
        <url-pattern>/ViewHome2Controller</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
